<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <title>Conditionals and Loops</title>
  </head>
  <body>

    <div id="exercise">
      <div>
        <button @click="toggle = !toggle">Toggle</button>

        <!-- v-show uses "display: none" to show and hide elements -->
        <p v-show="toggle">You either see me ...</p>
        <p v-show="!toggle">...or me</p>

        <!-- On the other hand, v-if removes and adds the element on the DOM -->
        <p v-if="toggle">You either see me ...</p>
        <p v-else>...or me</p>
      </div>

      <!-- Simple iteration -->
      <ul>
        <li v-for="element in array">{{ element }}</li>
      </ul>

      <!-- Iterating over an object -->
      <ul>
        <li v-for="(value, key, i) in myObject">Property #{{ i }}: {{ key }} = {{ value }}</li>
      </ul>

      <ul>
        <template v-for="value in testData">
          <ul v-if="Array.isArray(value)">
            <li v-for="element in value">{{ element }}</li>
          </ul>
          <li v-else>{{ value }}</li>
        </template>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
