<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <title>Lists with VueJS</title>

  </head>
  <body>

    <div id="widget">
      <h2>Ingredients:</h2>
      <ul>
        <!-- v-for uses the second parameter to keep the index -->
        <li v-for="(ingredient, i) in ingredients">{{ ingredient }} (index: {{ i }})</li>
      </ul>
      
      <h2>Sons of Apollo</h2>
      <ul v-for="(player, i) in players">
        <li>Player #{{ i }}
          <template v-for="(value, key) in player">
            <div>{{ key }}: {{ value }}</div>
          </template>
        </li>
      </ul>

    </div>

    <script src="app.js"></script>
  </body>
</html>
